html, body {
    padding: 0;
    margin: 0;
    background-color: #cfd8dc;
    font-family: 'Oswald', sans-serif;
}

a {
    color: maroon;
    text-decoration: none;
}

/* HEADER */
header {
    background-color: #607d8b;
}

header a {
    color: #eee;
}

#top-banner {
    color: #fff;
    height: 42em;
}

#top-banner-container {
    padding: 10% 30% 7% 30%;
}

.nav-container {
    background-color: #455a64;
    box-shadow: 0px 1px 10px #333;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: auto;
    position: fixed;
}

nav {
    border-radius: 1em;
    width: 70%;
    margin: auto;
}

nav ul {
    margin: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;
}

nav li {
    display: inline-block;
    padding: 4px;
}

#logo {
    float: left;
    font-weight: bold;
    font-size: 1.1em ;
    background-color: #ff5252;
    /* padding: 0; */
}

#logo li {
    /* padding: 0; */
}

#logo-image {
    width: auto;
    height: 51px;
}

#nav-links {
    float: right;
    padding-top: 1em;
}

#nav-links a:hover {
    color: #ff5252;
}

/* MAIN */
#main-section {
    min-height: 40em;
    background-color: #607d8b;
}

.container {
    width: 70%;
    margin: auto;
}

#services-sections {
    padding: 6% 0 6% 0;
    text-align: center;
}

#services-sections img {
}

#services-section-left {
    width: 32%;
    padding-top: 1%;
    margin: auto;
    background-color: #eee;
    float: left;
}

#services-section-center {
    width: 32%;
    padding-top: 1%;
    display: inline-block;
    background-color: #eee;
}

#services-section-right {
    width: 32%;
    padding-top: 1%;
    margin: auto;
    float: right;
    background-color: #eee;
}

.view-details {
    background-color: #ff5252;
    color: #fff;
    padding: 2% 0 2% 0;
    margin-bottom: 0;
}

#bottom-banner {
    background-color: #607d8b;
    color: #fff;
    padding: 2% 0 3% 0;
}

#about-container {
    padding: 4% 0 0 0;
    margin-top: 2em;
    margin-bottom: 20em;
}

#social-media-nav {
    text-align: center;
}

#social-media-nav li {
    display: inline-block;
    padding: 0 5px 0 5px;
}

#twitter-icon {
    height: 50px;
    width: auto;
}
#facebook-icon {
    height: 50px;
    width: auto;
}
#google-icon {
    height: 50px;
    width: auto;
}
#instagram-icon {
    height: 50px;
    width: auto;
}

hr {
    width: 90%;
    color: rgba(0, 0, 0, 0.2);
}

#contact-us {
    padding: 2% 30% 3% 30%;
    text-align: center;
}

#contact-us .container {
    background-color: #eee;
    padding: 1%;
}

/* FOOTER */
footer {
    padding: 1% 0 5% 0;
    color: #ccc;
    background-color: #455a64;
}

.footer-container {
    width: 80%;
    margin: auto;
    padding-top: 2%;
    overflow: auto;
    text-align: center;
}
