html, body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}
a {
    color: maroon;
    text-decoration: none;
}

/* NAV */
header {
    background-color: #efefef;
    border-bottom: 1px solid rgba(50, 50, 50, 0.1);
}

header a {
    color: #333;
}

.nav-container {
    width: 70%;
    margin: auto;
}

#logo {
    float: left;
    padding: 0;
}

#logo-image {
    width: auto;
    height: 51px;
}

nav {
    overflow: auto;
}

nav li {
    display: inline-block;
    padding: 4px;
}

nav ul {
    margin: 0;
    float: right;
    padding-top: 1.9%;
    padding-bottom: 1%;
    padding-right: 3%;
}

/* MAIN */
.container {
    width: 70%;
    margin: auto;
}
.sections {
    margin-top: 2%;
    margin-bottom: 2%;
    overflow: auto;
    text-align: center;
}

.sections img {
    border-radius: 10em;
}

.section-left {
    width: 33%;
    padding-top: 1%;
    margin: auto;
    float: left;
}

.section-center {
    width: 33%;
    padding-top: 1%;
    margin: auto;
    display: inline-block;
}

.section-right {
    width: 33%;
    padding-top: 1%;
    margin: auto;
    float: right;
}

.read-more {
    float: right;
    padding: 1px;
}

hr {
    width: 90%;
    color: rgba(0, 0, 0, 0.2);
}

/* FOOTER */
.footer-container {
    width: 80%;
    margin: auto;
    padding-top: 2%;
    overflow: auto;
}
